<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:flashMessages />


<f:if condition="{tccds -> f:count()} > 0">
    <ul class="tccds-list">
        <f:for each="{tccds}" as="tccd">
            <f:comment>[2] - Flexform Concepts</f:comment>
            <f:comment>[6] - Accessing FlexForm Data</f:comment>
            <li>
                <f:if condition="{settings.singlePid}">
                    <f:then>
                        <f:link.action pageUid="{settings.singlePid}" action="show" arguments="{tccd : tccd}">{tccd.title}</f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="show" arguments="{tccd : tccd}">{tccd.title}</f:link.action>
                    </f:else>
                </f:if>
                <span class="tccd-status">{tccd.edited}</span>
            </li>
        </f:for>
    </ul>
</f:if>
<br><br>
<f:link.action action="new">New Tccd</f:link.action>