<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_tccdexamples_domain_model_tccd.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="description">
	<f:translate key="tx_tccdexamples_domain_model_tccd.description" />
</label><br />
	<f:form.textarea property="description" id="description" cols="40" rows="15" /><br />
<label for="version">
	<f:translate key="tx_tccdexamples_domain_model_tccd.version" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="version" id="version" /><br />
<label for="slug">
	<f:translate key="tx_tccdexamples_domain_model_tccd.slug" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="slug" id="slug" /><br />
<label for="edited">
	<f:translate key="tx_tccdexamples_domain_model_tccd.edited" />
</label><br />
	<f:form.checkbox property="edited" id="edited" value="1" /><br />
</html>